.moto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  border-bottom: 4px solid var(--mainColor);
}

.moto p {
  font-weight: 900;
  font-size: 60px;
  font-family: 'Gothic A1', sans-serif;
}

h2 {
  padding: 1em 0 2em;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
}

.characters {
  padding: 0 0 200px;
  border-bottom: 4px solid var(--mainColor);
}

.characters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.characters ul li {
  width: 25%;
  max-width: 320px;
  text-align: center;
}

.characters ul li span.thumb {
  display: block;
  width: 100%;
  padding: 0 0 100%;
  margin: 0 auto;
  border: 1px solid var(--borderColor1);
}

.characters ul li span.name {
  display: block;
  margin: 1em 0 0;
  font-size: 15px;
}

.characters ul li span.name strong {
  display: block;
  font-weight: 500;
  font-size: 18px;
}

.interest {
  padding: 0 0 100px;
}

.interest ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interest ul li .info {
  width: 60%;
  padding: 0 10%;
}

.interest ul li .info strong {
  display: block;
  font-size: 46px;
  font-weight: 700;
}

.interest ul li .info span {
  display: block;
  margin: 1em 0 0;
  font-size: 24px;
}

.interest ul li .thumb {
  width: 40%;
  max-width: 800px;
  height: 500px;
  background-color: var(--mainColor);
}

.other-interest {
  margin: 0 0 100px;
}

.other-interest ul {
  overflow: hidden;
}

.other-interest ul li {
  float: left;
  width: 7.142857142857143%;
  padding: 0 10px;
  margin: 30px 0;
  text-align: center;
}

.other-interest ul li span.thumb {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 0 0 70%;
  background-color: var(--mainColor);
  border-radius: 50%;
}

.other-interest ul li strong {
  display: block;
  margin: 12px 0 0;
  font-weight: 300;
  font-size: 12px;
}

.history {
  padding: 0 0 200px;
}

.history ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.history ul li {
  width: 19%;
  margin: 0 0 0 8%;
}

.history ul li .thumb {
  display: block;
  width: 100%;
  padding: 0 0 80%;
  background-color: var(--mainColor);
}

.history ul li strong {
  display: block;
  margin: .75em 0 .375em;
  font-weight: 500;
  font-size: 20px;
}

.history ul li P {
  margin: 0 0 3em;
  font-weight: 300;
  font-size: 14px;
}

.history ul li:nth-child(4n+1) {
  margin: 0;
}
