@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@900&display=swap');


:root {
	--mainColor: #5c9ed6;
	--borderColor1: #ddd;
	--side: 10%;
}

.test {
	width: calc(100% - 40px);
}

* {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	color: inherit;
	box-sizing: border-box;
}

body {
	// font-family: 'Gothic A1', sans-serif;
	// font-family: 'Noto Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	color: var(--mainColor);
}

li {list-style: none;}
a {text-decoration: none;}
button {cursor:pointer;}

header {
	position: fixed;
	top: -10px;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 54px;
	overflow: hidden;
	font-weight: 900;
	font-size: 60px;
	font-family: 'Noto Sans', sans-serif;
	background-color: rgba(255,255,255,0.7);
	backdrop-filter: blur(8px);

	h1 {
		line-height: 1;
	}

	nav ul {
		display: flex;

		li {
			a {
				display: block;
				margin: 0 0 0 1em;
				line-height: 1;
			}
			a:not(.current) {
				color: #ccc;
			}
		}
		li:first-child a {
			margin: 0;
		}
	}
}

main {
	padding: 40px 0 0;
}

.flex {	
	flex-direction: column;
}
